server:
  port: 8080
spring:
  application:
    name: RunnersHi Server
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    hibernate:
      ddl-auto: create
    open-in-view: false
  config:
    import: optional:file:.env[.properties]


logging:
  level:
    root: INFO
    sun.rmi: INFO
    javax.management: INFO
    org.apache.tomcat: INFO
